data/

src/**/__pycache__/

*.pkl
*.csv
*.zip
*.tsv
*.jpg
*.keras
*.h5
*.ckpt
*.pyc

# Ignore ALL results
results/*

# Allow folders traversal
!results/**/

# Allow ONLY artifacts
!results/**/*.png
!results/**/*.json
!results/**/*.yaml

# ALWAYS ignore models
*.pt
results/**/*.pt